.canvas-container {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.hud-container {
  display: flex;
  position: absolute;
  margin: 2em;
}